@use '@angular/material' as mat;

// 🔹 Tema Material 3
html {
  @include mat.theme((
    color: (
      primary: mat.$magenta-palette,
      tertiary: mat.$violet-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

// 🔹 Impostazioni base del body
body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0; // reset
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

// 🔹 Non toccare il background globale per non interferire con la mappa.
//    Applica il colore di sfondo solo all’app (app-root) o a un wrapper.
app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #A1C298; // colore sfondo dell'app
  position: relative;
  z-index: 0;
}
