@use '@angular/material' as mat;

:host ::ng-deep {
  .my-custom-buttons {
    @include mat.fab-overrides((
      container-color:#3D8361,         // colore di sfondo del FAB
      foreground-color: white,          // colore di testo e icone
      state-layer-color: #6dbe97,       // overlay per hover/focus/pressed
      pressed-state-layer-opacity: 1,   // intensità overlay quando premuto
      hover-state-layer-opacity: 0.4,   // intensità overlay su hover
      focus-state-layer-opacity: 0.2,   // intensità overlay su focus



      container-elevation-shadow: none,
      hover-container-elevation-shadow: none,
      focus-container-elevation-shadow: none,
      pressed-container-elevation-shadow: none,
      extended-container-elevation-shadow: none
    ));
  }
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #3D8361; // stesso colore della barra
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #3D8361;
  padding: 10px 10px 0 10px;// niente padding-bottom per evitare spazio extra
  z-index: 1000;
  padding-bottom: calc(env(safe-area-inset-bottom) - 4px);
}

.example-label {
  font-size: 14px;
  margin: 0 16px 0 8px;
  min-width: 120px;
}

.example-button-row {
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 12px 12px 12px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 12px 16px; /* più spazio tra i bottoni */
}

  
