h2{
    margin: 20px 20px 0 10px;
    text-align: center;
    color: #FF914D;
}

.categories-buttons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 8px;
  margin: 15px;
  justify-content: flex-start;

  button {
    min-width: 50px;
    border: 1px solid #FF914D;
    transition: all 0.2s ease;
    background-color: #f4f1e6;
    color: #FF914D;

    &.selected {
      background-color: #FF914D;
      color: white;
      border-color: #FF914D;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    &:hover {
      background-color: #ffd7bf;
    }
  }
}

.bottom-buttons {
  display: flex;

  button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #FF914D;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #e6833b;
    }
  }
}
