@import url('https://fonts.googleapis.com/css2?family=Freckle+Face&display=swap');

.header{
    position: sticky;
    justify-content: center;
    text-align: center;
    font-family: 'Freckle Face', sans-serif;
    font-size: 1.25rem;
    text-shadow:
        -1px -1px 0 rgb(195, 60, 3),
        1px -1px 0 rgb(195, 60, 3),
        -1px  1px 0 rgb(195, 60, 3),
        1px  1px 0 rgb(195, 60, 3);
    background: #3D8361;
    color: white;
    padding: 0.75rem 1.25rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    z-index: 1000;
    overflow: hidden;
}

@media (max-width: 600px) {
  .header {
    font-size: 1.2rem;
    padding: 0.5rem;
  }

  .header h1 {
    font-size: 2rem;
  }
}
